.contents
  = render partial: "layouts/side_bar"
  .contents-main
    .contents-main-group-header
      = render @group do
        %p.group__users Members: #{@group.users.map(&:name).join(" ")}
      = link_to "Edit", edit_group_path(@group), class: "btn--border"
    .contents-main-messages
      = render @messages
    .contents-main-input
      = form_for [@group, @message], html: {class: "message-form"} do |f|
        .message-form__field
          -# TODO: text_fieldだと複数行無理・text_areaだと見た目が違う問題
          -# = f.text_field :body, placeholder: "type a message", class: "message-form__field__body text-word-break"
          = f.text_area :body, placeholder: "type a message", class: "message-form__field__body text-word-break"
          = f.label :image, class: "message-form__field__image icon-link" do
            = fa_icon "image"
            = f.file_field :image, class: "no-disp"
        = f.submit "Send", :disable_with => 'Sending...', class: "btn message-form__submit-btn"
