.contents
  = render partial: "layouts/side_bar"
  .contents-main
    .contents-main-group-header
      = render @group do
        %p.group__users Members: #{@group.users.map(&:name).join(" ")}
      = link_to "Edit", edit_group_path(@group), class: "btn--border"
    .contents-main-messages
      -# TODO: 実装後元に戻す
      - locals_arr = [{user_name: "yokoyama", posted_at: "2019/02/09/21:20:05", body: "CSSむずい"}, {user_name: "nakamata", posted_at: "2019/02/09/21:20:20", body: "うわああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ"}]
      -# 表示テストのため、大量に複製
      - locals_arr = locals_arr * 5
      - locals_arr.each do |locals|
        = render partial: "messages/message", locals: locals
    .contents-main-input
      = form_tag "#", class: "message-form" do
        .message-form__field
          = text_area_tag :body, "", placeholder: "type a message", class: "message-form__field__body text-word-break", rows: 1
          = label_tag :image, class: "message-form__field__image icon-link" do
            = fa_icon "image"
            = file_field_tag :image, class: "no-disp"
        = submit_tag "Send", disable_with: 'Sending...', class: "btn message-form__submit-btn"
