= form_for group do |f|
  - if group.errors.any?
    = render partial: "layouts/form_errors", locals: {resource: group}
  .group-form__field.clearfix
    .group-form__field--left
      -# モデルの日本語化を定義に従って表示
      -## なお、labelの表示名を第二引数で明示的に指定も可能
      -## ex) = f.label :name, "グループ名", class: "group-form__label"
      = f.label :name, class: "group-form__label"
      / %label.group-form__label{:for => "group_name"} グループ名
    .group-form__field--right
      = f.text_field :name, placeholder: "グループ名を入力してください", class:  "group-form__input"
      / %input#group_name.group-form__input{:name => "group[name]", :placeholder => "グループ名を入力してください", :type => "text"}/
  .group-form__field.clearfix
    / この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します
    /
    .group-form__field--left
      %label.group-form__label{for: "group_チャットメンバーを追加"} チャットメンバーを追加
    .group-form__field--right
      .group-form__search.clearfix
        %input#user-search-field.group-form__input{placeholder: "追加したいユーザー名を入力してください", type: "text"}/
      #user-search-result
  .group-form__field.clearfix
    .group-form__field--left
      = f.label :members, "チャットメンバー", class: "group-form__label"
      / %label.group-form__label{:for => "group_チャットメンバー"} チャットメンバー
    .group-form__field--right
      #group-users
        / = f.collection_check_boxes :user_ids, User.all, :id, :name
        - if group.persisted?
          -# editの場合は、現在のメンバーを表示
          - group.users.each do |user|
            = render partial: "groups/form_member", locals: {user: user, f: f}
        - else
          -# newの場合は、current_userのみセット
          = render partial: "groups/form_member", locals: {user: current_user, f: f}
  .group-form__field.clearfix
    .group-form__field--left
    .group-form__field--right
      = f.submit class: "group-form__action-btn"
      / %input.group-form__action-btn{"data-disable-with" => "Save", :name => "commit", :type => "submit", :value => "Save"}/
