.side-bar
  .side-bar-user-header
    %p.side-bar-user-header__name.text-word-break= current_user.name

    .side-bar-user-header__icons
      = link_to new_group_path, class: "icon-link--white" do
        = fa_icon "edit"
      = link_to edit_user_registration_path, class: "icon-link--white" do
        = fa_icon "cog"
  .side-bar-groups
    -# render @groupsだと、内部的なforの中でblock引数を渡させないため、eachを用いる
    - @groups.each do |group|
      = render group do
        %p.group__last-message= group.show_last_message
        = link_to "", group_messages_path(group), class: "child_link"
